{% extends 'plantilla.html' %}

{% block body %}
<h2>Crear Usuario</h2>

<hr>
<form action="/crear_usuario" method="POST">
	<label for="">Documento</label>
	<input type="number" name="documento" placeholder="documento">
	<br>
	<label for="">Nombres</label>
	<input type="text" name="nombres" placeholder="nombres">
	<br>
	<label for="">Apellidos</label>
	<input type="text" name="apellidos" placeholder="apellidos">
	<br>
	<button type="submit" name="crear_usuario" class="btn btn-success">
		Crear
	</button>
</form>
{% endblock %}