{% extends 'plantilla.html' %}

{% block body %}
<h2>Entrada y Salida del Parqueadero</h2>
<!-- <div>
	<input type="radio" name="rb_documento" id="rb_documento" value="documento">
	<label for="documento">Documento</label>
	<input type="radio" name="rb_placa" id="rb_placa" value="placa">
	<label for="placa">Placa</label>
</div> -->
<hr>

<hr>
<div>
	<div class="card card-body">
		<form action="/buscar_usuario" method="POST">
			<div class="form-group">
				<label for="documento">Escriba el documento del usuario:</label>
				<input type="number" name="documento" id="documento" placeholder="Ej: 1234567890" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" name="buscar_usuario" class="btn btn-success btn-block">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<div id="lista">
		{% if usuario_carros is defined and usuario_carros.0|length > 0 %}
		<h3>Carros</h3>
		<table class="table table-hover table-striped table-bordered bg-white table-sm bg-white table-sm">
			<thead>
				<tr>
					<th>Placa</th>
					<th>Modelo</th>
					<th>Puertas</th>
					<th>Foto</th>
					<th>Comandos</th>
				</tr>
			</thead>
			<tbody>
				{% for carro in usuario_carros.0 %}
				<tr>
					<td>{{ carro.1 }}</td>
					<td>{{ carro.2 }}</td>
					<td>{{ carro.3 }}</td>
					<td><img src="/static/uploads/{{ carro.4 }}" alt="" width="160" height="90"></td>
					<td>
						{% if usuario_carros.1[loop.index-1]|length > 0 and usuario_carros.1[loop.index-1][2] == "" %}
							<a href="/salida_parqueadero?ve={{carro.0}}&ty=c&cel={{usuario_carros.1[loop.index-1][6]}}" class="btn btn-warning">Salida</a>
						{% else %}
							<a href="/entrada_parqueadero?ve={{carro.0}}&ty=c" class="btn btn-primary">Ingresar</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if usuario_motos is defined and usuario_motos.0|length >0 %}
		<h3>Motos</h3>
		<table class="table table-hover table-striped table-bordered bg-white table-sm">
			<thead>
				<tr>
					<th>Placa</th>
					<th>Cilindraje</th>
					<th>Tiempos</th>
					<th>Foto</th>
					<th>Comandos</th>
				</tr>
			</thead>
			<tbody>
				{% for moto in usuario_motos.0 %}
				<tr>
					<td>{{ moto.1 }}</td>
					<td>{{ moto.2 }}</td>
					<td>{{ moto.3 }}</td>
					<td><img src="/static/uploads/{{ moto.4 }}" alt="" width="160" height="90"></td>
					<td>
						{% if usuario_motos.1[loop.index-1]|length > 0 and usuario_motos.1[loop.index-1][2] == "" %}
							<a href="/salida_parqueadero?ve={{moto.0}}&ty=m&cel={{usuario_motos.1[loop.index-1][6]}}" class="btn btn-warning">Salida</a>
						{% else %}
							<a href="/entrada_parqueadero?ve={{moto.0}}&ty=m" class="btn btn-primary">Ingresar</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if usuario_bicicletas is defined and usuario_bicicletas.0|length >0 %}
		<h3>Bicicletas</h3>
		<table class="table table-hover table-striped table-bordered bg-white table-sm">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Foto</th>
					<th>Comandos</th>
				</tr>
			</thead>
			<tbody>
				{% for bicicleta in usuario_bicicletas.0 %}
				<tr>
					<td>{{ bicicleta.0 }}</td>
					<td><img src="/static/uploads/{{bicicleta.1}}" alt="" width="160" height="90"></td>
					<td>
						{% if usuario_bicicletas.1[loop.index-1]|length > 0 and usuario_bicicletas.1[loop.index-1][2] == "" %}
							<a href="/salida_parqueadero?ve={{bicicleta.0}}&ty=b&cel={{usuario_bicicletas.1[loop.index-1][6]}}" class="btn btn-warning">Salida</a>
						{% else %}
							<a href="/entrada_parqueadero?ve={{bicicleta.0}}&ty=b" class="btn btn-primary">Ingresar</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
<br>
<hr>
<div>
	<div class="card card-body">
		<form action="/buscar_vehiculo" method="POST">
			<div class="form-group">
				<label for="placa">Escriba la placa del vehículo:</label>
				<input type="text" name="placa" id="placa" placeholder="Ej: abc123" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" name="buscar_vehiculo" class="btn btn-success btn-block">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<div id="vehiculo">
		{% if placa_carros is defined and placa_carros.0|length > 0 %}
		<h3>Carro</h3>
		<table class="table table-hover table-striped table-bordered bg-white table-sm">
			<thead>
				<tr>
					<th>Placa</th>
					<th>Modelo</th>
					<th>Puertas</th>
					<th>Foto</th>
					<th>Comandos</th>
				</tr>
			</thead>
			<tbody>
				{% for carro in placa_carros.0 %}
				<tr>
					<td>{{ carro.1 }}</td>
					<td>{{ carro.2 }}</td>
					<td>{{ carro.3 }}</td>
					<td><img src="/static/uploads/{{ carro.4 }}" alt="" width="160" height="90"></td>
					<td>
						{% if placa_carros.1[loop.index-1]|length > 0 and placa_carros.1[loop.index-1][2] == "" %}
							<a href="/salida_parqueadero?ve={{carro.0}}&ty=c&cel={{placa_carros.1[loop.index-1][6]}}" class="btn btn-warning">Salida</a>
						{% else %}
							<a href="/entrada_parqueadero?ve={{carro.0}}&ty=c" class="btn btn-primary">Ingresar</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if placa_motos is defined and placa_motos.0|length > 0 %}
		<h3>Moto</h3>
		<table class="table table-hover table-striped table-bordered bg-white table-sm">
			<thead>
				<tr>
					<th>Placa</th>
					<th>Cilindraje</th>
					<th>Tiempos</th>
					<th>Foto</th>
					<th>Comandos</th>
				</tr>
			</thead>
			<tbody>
				{% for moto in placa_motos.0 %}
				<tr>
					<td>{{ moto.1 }}</td>
					<td>{{ moto.2 }}</td>
					<td>{{ moto.3 }}</td>
					<td><img src="/static/uploads/{{ moto.4 }}" alt="" width="160" height="90"></td>
					<td>
						{% if placa_motos.1[loop.index-1]|length > 0 and placa_motos.1[loop.index-1][2] == "" %}
							<a href="/salida_parqueadero?ve={{moto.0}}&ty=m&cel={{placa_motos.1[loop.index-1][6]}}" class="btn btn-warning">Salida</a>
						{% else %}
							<a href="/entrada_parqueadero?ve={{moto.0}}&ty=m" class="btn btn-primary">Ingresar</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}