{% extends 'plantilla.html' %}

{% block body %}
<h2>Registrar Vehículo</h2>

<hr>
<form action="/registrar_vehiculo" method="POST">
	<label for="">Documento</label>
	<input type="number" name="documento">
	<br>
	<br>
	<div>
		<input type="radio" name="rb_vehiculo" id="rb_carro" value="carro" {{check_carro}} onclick="show_carro();">
		<label for="carro">Carro</label>
		<input type="radio" name="rb_vehiculo" id="rb_moto" value="moto" {{check_moto}} onclick="show_moto();">
		<label for="moto">Moto</label>
		<input type="radio" name="rb_vehiculo" id="rb_bicicleta" value="bicicleta" {{check_bicicleta}} onclick="show_bicicleta();">
		<label for="bicicleta">Bicicleta</label>
	</div>
	<div id="panel_carro" style="display:none;">
		<label for="">Placa</label>
		<input type="text" name="placa_carro">
		<br>
		<label for="">Modelo</label>
		<input type="text" name="modelo">
		<br>
		<label for=""># Puertas</label>
		<input type="text" name="puertas">
	</div>
	<br>
	<div id="panel_moto" style="display:none;">
		<label for="">Placa</label>
		<input type="text" name="placa_moto">
		<br>
		<label for="">Cilindraje</label>
		<input type="text" name="cilindraje">
		<br>
		<label for="">Tiempos</label>
		<input type="text" name="tiempos">
	</div>
	<br>
	<div onload="myload()">
		<label for="img">Foto</label>
		<input type="file" name="foto" id="img" accept="image/*" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
		<img id="preview" src="" alt="" width="160" height="90">
	</div>
	<br>
	<br>
	<div>
		<button type="submit" name="registrar_vehiculo" class="btn btn-success">
			Registrar
		</button>
	</div>
</form>
{% endblock %}